language: php

cache:
    directories:
        - $HOME/.composer/cache

php:
    - nightly

matrix:
    fast_finish: true
    include:
        - php: '7.1'
          env:
              - COMPOSER_FLAGS='--prefer-lowest'
              - SYMFONY_VERSION='~3.4.0'
        - php: '7.2'
          env: SYMFONY_VERSION='~3.4.0'
        - php: '7.2'
          env: SYMFONY_VERSION='~4.0.0'
    allow_failures:
        - php: nightly

install:
    - phpenv config-rm xdebug.ini || true
    - |
      if [ -n "$SYMFONY_VERSION" ]; then
          composer require --dev --no-update symfony/symfony "symfony/symfony:${SYMFONY_VERSION}"
      fi
    - composer update --prefer-dist $COMPOSER_FLAGS

script: bin/phpunit

notifications:
    email: false
